<h2 class="ui center aligned icon header">
    <i class="circular phone icon"></i>
    +49 176 9913 3950
    <span class="sub header">
        {{ 'sylius.ui.need_assistance'|trans }} {{ 'sylius.ui.call_us'|trans }}
        <br>
    <img src="/assets/shop/img/email.svg">
    </span>
</h2>

<div class="ui divider"></div>

<div class="ui center aligned basic segment">
    <i class="huge cc mastercard icon"></i>
    <i class="huge cc visa icon"></i>
    <i class="huge cc paypal card icon"></i>
</div>
